    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title">Filters</h3>
  			</div>
  			<div class="panel-body">
   	 			<div align="center">
   	 				<div class="form-inline">
		    			<div class="form-group">
				    		<%= form_tag(:controller => 'app', :action => 'browseAllModels') do %>
								<%= select_tag "cancerType", options_for_select(@cancers), :class => 'form-control' %> &nbsp;
								<%= select_tag "drug", options_for_select(@drugs), :class => 'form-control' %> &nbsp;
	    						<div class="input-group">
      								<div class="input-group-addon">&lt;</div>
      									<input type="text" class="form-control" id="cvelt" placeholder="CV Error">
    							</div>
    							<div class="input-group">
      								<div class="input-group-addon">&gt;</div>
      									<input type="text" class="form-control" id="cvelt" placeholder="CV Error">
    							</div>
	    						<%= submit_tag 	"Filter models", :disabled => true,  :class => 'btn btn-primary' %>
							<% end -%>
						</div>
    				</div>
    			</div>
  			</div>
		</div>
    	
    </div>	
    
    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title"><b>All LOBICO Models</b></h3>
  			</div>
  			<div class="panel-body">
   	 			<div align="center">
	    			<table id="modelsTable" class="table table-striped">
	    				<thead>
	    	    			<tr>
	    	    				<th>Single model</th>
	    	    				<th>Best CV model</th>
	    	    				<th>Cancer</th>
	    	    				<th>Drug</th>
	    	    				<th>Drug target</th>
	    	    				<th>Drug class</th>
	    	    				<th>#IC50s</th>
	    	    				<th>#Sensitive</th>
	    	    				<th>CV Error</th>
	    	    				<th>Pval</th>
	    	    				<th>Qval</th>
	    	    				<th>Impr. wrt single model</th>
	    	    				<th>CV F-stat</th>
	    	    				<th>CV cont. F-stat</th>
	    	    				<th>View</th>
	    	    			</tr>
	    	    		</thead>
	    	    		<tbody>
	    	    			<% @res.each do |items|-%>
	    	    				<tr>
	    	    					<% items.each do |item| -%>
	    	    						<td><%= item %></td>
									<% end -%>
    	    						<td>
    	    							<%= link_to '<b>View</b>'.html_safe,  {:controller => "app", :action => "viewModel", :singleModel => items[0] , :cvModel => items[1] } %>
    	    						</td>		
	    	    				</tr>
	    	    			<% end -%>
	    	    		</tbody>
	    			</table>	
    			</div>
  			</div>
		</div>
    	
    </div>	

	
<script>
$(document).ready(function(){
	$('#modelsTable').DataTable();
});
</script>