    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filters</h3>
  			</div>
  			<div class="panel-body">
   	 			<div align="center">
   	 				<div class="form-inline">
		    			<div class="form-group">
				    		<%= form_tag({:controller => 'app', :action => 'browseByModels'},:multipart => true) do -%>
								Cancer: <%= select_tag "cancerType", options_for_select(@cancers,@cancerSelected), :class => 'form-control' %> &nbsp;
								Drug: <%= select_tag "drug", options_for_select(@drugs,@drugSelected), :class => 'form-control' %> &nbsp;
	    						<div class="input-group">
      								<div class="input-group-addon">&lt;</div>
      									<% if @cvelt == nil -%>
      										<input type="text" class="form-control" name="cvelt" id="cvelt" placeholder="CV Error">
      									<% else -%>
	      									<input type="text" class="form-control" name="cvelt" id="cvelt" placeholder="CV Error" value="<%= @cvelt %>">
      									<% end -%>	
    							</div>
    							<div class="input-group">
      								<div class="input-group-addon">&gt;</div>
	      								<% if @cvegt == nil -%>
      										<input type="text" class="form-control" name="cvegt" id="cvegt" placeholder="CV Error">
      									<% else -%>
	      									<input type="text" class="form-control" name="cvegt" id="cvegt" placeholder="CV Error" value="<%= @cvegt %>">
      									<% end -%>
      									
    							</div>
    							<button type="submit" class="btn btn-primary">
    								<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filter
    							</button>
	    						 &nbsp; <a class="btn btn-danger" href="browseAllModels"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Clear Filter(s)</a>
							<% end -%>
						</div>
    				</div>
    			</div>
  			</div>
		</div>
    	
    </div>
    
    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title"><b>LOBICO Best Models</b></h3>
  			</div>
  			<div class="panel-body">
   	 			<div align="center">
	    			<table id="modelsTable" class="table table-striped">
	    				<thead>
	    	    			<tr>
	    	    				<th>Best CV model</th>
	    	    				<th>Single model</th>
	    	    				<th>Details</th>
	    	    				<th>View model</th>
	    	    			</tr>
	    	    		</thead>
	    	    		<tbody>
	    	    			<% @modelsHash.each do |model,values|-%>
	    	    				<tr>
	    	    				<% smodel,cvmodel = model.split(";") -%>
	    	    					<td><%= cvmodel %></td>
	    	    					<td><%= smodel %></td>	    					
	    	    					<td>
	    	    						<% items = values.split("#") -%>
	    	    						<% items.each do |item| -%>
	    	    							<% vals = item.split(";") -%>
	    	    							<div>
    											Cancer:<b><%= vals[0] %></b> &nbsp; Drug:<b><%= vals[1] %></b> &nbsp; CV Error:<font color="red"><%= vals[5] %></font>		
	    	    							</div>
	    	    						<% end -%>
	    	    					</td>
	    	    					<td>
	    	    						<%= link_to '<span class="glyphicon glyphicon-eye-open" area-hiddne="true"></span> View'.html_safe,  {:controller => "app", :action => "viewModel", :singleModel => smodel , :cvModel => cvmodel } %>
	    	    					</td>		
	    	    				</tr>
	    	    			<% end -%>
	    	    		</tbody>
	    			</table>	
    			</div>
  			</div>
		</div>
    	
    </div>	

	
<script>
$(document).ready(function(){
	$('#modelsTable').DataTable();
});
</script>