    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title"><span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filters</h3>
  			</div>
  			<div class="panel-body">
   	 			<div align="center">
   	 				<div class="form-inline">
		    			<div class="form-group">
				    		<%= form_tag({:controller => 'app', :action => 'browseByModels'},:multipart => true) do -%>
					    		Dataset: <%= select_tag "dataset", options_for_select(@datasets,@datasetSelected), :class => 'form-control' %> &nbsp;
								Cancer: <%= select_tag "cancerType", options_for_select(@cancers,@cancerSelected), :class => 'form-control' %> &nbsp;
								Drug: <%= select_tag "drug", options_for_select(@drugs,@drugSelected), :class => 'form-control' %> &nbsp;
	    						<div class="input-group">
      								<div class="input-group-addon">&lt;</div>
      									<% if @cvelt == nil -%>
      										<input type="text" class="form-control" name="cvelt" id="cvelt" placeholder="CV Error">
      									<% else -%>
	      									<input type="text" class="form-control" name="cvelt" id="cvelt" placeholder="CV Error" value="<%= @cvelt %>">
      									<% end -%>	
    							</div>
    							<div class="input-group">
      								<div class="input-group-addon">&gt;</div>
	      								<% if @cvegt == nil -%>
      										<input type="text" class="form-control" name="cvegt" id="cvegt" placeholder="CV Error">
      									<% else -%>
	      									<input type="text" class="form-control" name="cvegt" id="cvegt" placeholder="CV Error" value="<%= @cvegt %>">
      									<% end -%>
      									
    							</div>
    							<button type="submit" class="btn btn-primary">
    								<span class="glyphicon glyphicon-filter" aria-hidden="true"></span>Filter
    							</button>
	    						 &nbsp; <a class="btn btn-danger" href="browseByModels"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span>Clear Filter(s)</a>
							<% end -%>
						</div>
    				</div>
    			</div>
  			</div>
		</div>
    	
    </div>
    
    <div class="container-fluid">
    	
    	<div class="panel panel-default">
			<div class="panel-heading">
    			<h3 class="panel-title"><b>LOBICO Best Models</b></h3>
  			</div>
  			<div class="panel-body">
  				<% if @modelsHash.keys.length == 0 %>
  					<div align="center">
 	   					<div class="alert alert-danger alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							No results found! <b><%= @searchTerm %></b>
							&nbsp; <a class="btn btn-info" href="browseByModels">View Best LOBICO Models.</a>
						</div>
					</div>
   	 			<% else -%>
 	   				
	  				<div align="center">
   		 				<% if @searchTerm != "" and @searchTerm != nil -%>
 	   					<div class="alert alert-success alert-dismissible" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							Showing results with search term : <b><%= @searchTerm %></b>
						</div>
    					<% end -%>	
  					</div>	
	   	 			<div align="center">
		    			<table id="modelsTable" class="table table-striped">
		    				<thead>
		    	    			<tr>
		    	    				<th>Best CV model</th>
		    	    				<th>Single model</th>
		    	    				<th>DataSet</th>
		    	    				<th>Cancer</th>
		    	    				<th>Drug</th>
		    	    				<th>Drug Id</th>
		    	    				<th>CV Error</th>
		    	    				<th>Action(s)</th>
		    	    			</tr>
		    	    		</thead>
		    	    		<tbody>
		    	    			<% @modelsHash.each do |model,values|-%>
		    	    				<% smodel,cvmodel = model.split(";") -%>
	   	    						<% items = values.split("#") -%>
	   	    						<% items.each do |item| -%>
		    							<% vals = item.split(";") -%>
		    							<tr>
			   								<td><%= cvmodel %></td>	    	    							
		       						    	<td><%= smodel %></td>	
		       						    	<td> <%= vals[7] %></td>    					
	    									<td><%= vals[0] %></td> 
	    									<td><%= vals[1] %></td> 
	    									<td><%= vals[8] %></td>
	    									<td> <%= vals[5] %></td>
	    									<td>
	    										<div align="rihgt">	
			    	   								<%= link_to '<span class="glyphicon glyphicon-triangle-right" area-hiddne="true"></span> View'.html_safe,  {:controller => "app", :action => "viewModel", :cancer => vals[0] , :drug => vals[1], :dataset => vals[7] }, :class => "btn btn-xs btn-success" %>
		       									</div>
		       								</td>
		       							</tr>	
		    	  						<% end -%>
		    	    			<% end -%>
		    	    		</tbody>
		    			</table>	
	    			</div>
	    		<% end -%>	
  			</div>
		</div>
    	
    </div>	

	
<script type="text/javascript">

	$(document).ready(function(){
		$('#modelsTable').DataTable({
			paging: true
		});
	});

</script>